*{
	margin: 0;
	padding: 0;
	font-family: verdana;	
}
html {
  scroll-behavior: smooth;
}
#main{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../1.jpg);
	background-size: cover;
}
nav{
	width: 100%;
	height: 60px;
	background-color: #000;
	opacity: 0.6;
	line-height: 60px;
}
nav ul{
	float: right;
	margin-right: 30px;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s all;
}
nav ul li:hover{
	background-color: #f39d1a;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 30px;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;                     
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
#gallery{
	height:1700px;
	background: #1a1a1a;
	display: inline-block;
	width: 100%;
}
#gallery h1{
	margin-top:30px;
	text-align: center;
	color: #fff;
	font-size: 70px;
	padding: 50px;
	font-family: Arial, Helvetica, sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}
.column {
  flex: 25%;
  max-width: 24%;
  padding: 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.imge img {
  transition: transform .5s ease;
}
.imge:hover img {
  transform: scale(1.1);
}
#about{
	height:650px;
	background: #1a1a1a;
	display: inline-block;
	width: 100%;
}
#about h1{
	text-align: center;
	color: #fff;
	font-size: 70px;
	padding: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
} 
#about p{
	margin-left: 300px;
	width: 700px;
	padding:10px;
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    	font-weight: 300;
    	font-style: normal;
    	line-height: 1.8em;
    	font-size: 20px;
} 
#about p a{
	color:#fff;
	text-decoration-style:dotted;
}	